---
import './Footer.css';
import logoSvg from '../../../assets/logo.svg?raw';
---

<footer class="ft">

  <!-- main: nav cols + contacts -->
  <div class="ft-m">
    <div class="wrap">
      <div class="ft-row">

        <div class="ft-cols">
          <div class="ft-col">
            <strong class="ft-col-h">Интернет-магазин</strong>
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Бренды</a></li>
              <li><a href="#">Карта сайта</a></li>
            </ul>
          </div>

          <div class="ft-col">
            <strong class="ft-col-h"><a href="#">Компания</a></strong>
            <ul>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="#">Вакансии</a></li>
              <li><a href="#">Отзывы</a></li>
              <li><a href="#">Сертификаты</a></li>
              <li><a href="#">Блог</a></li>
            </ul>
          </div>

          <div class="ft-col">
            <strong class="ft-col-h"><a href="#">Услуги</a></strong>
            <ul>
              <li><a href="#">Аренда кулеров</a></li>
              <li><a href="#">Бесплатная аренда кулера</a></li>
              <li><a href="#">Ремонт кулеров</a></li>
              <li><a href="#">Санитарная обработка</a></li>
            </ul>
          </div>

          <div class="ft-col">
            <strong class="ft-col-h">Помощь</strong>
            <ul>
              <li><a href="#">Условия доставки</a></li>
              <li><a href="#">Условия оплаты</a></li>
              <li><a href="#">Поддержка</a></li>
              <li><a href="#">Обратная связь</a></li>
              <li><a href="#">Пожаловаться директору</a></li>
            </ul>
          </div>
        </div>

        <div class="ft-ci">
          <strong class="ft-col-h">Контакты</strong>
          <a class="ft-ph" href="tel:88001111111">8 800 111-11-11</a>
          <a class="ft-ph ft-ph-s" href="tel:88001111111">8 800 111-11-11</a>
          <div class="ft-em">
            <span>Отдел продаж</span>
            <a href="mailto:zakaz@itk.ru">zakaz@itk.ru</a>
          </div>
          <div class="ft-addr">Москва, ИТК пр-т, д.777</div>
          <div class="ft-sch">Круглосуточно</div>
          <div class="ft-soc">
            <a href="#" target="_blank" rel="nofollow noopener">ВК</a>
            <a href="#" target="_blank" rel="nofollow noopener">TG</a>
            <a href="#" target="_blank" rel="nofollow noopener">Дзен</a>
            <a href="#" target="_blank" rel="nofollow noopener">RuTube</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- bottom: copy + payments + legal + apps -->
  <div class="ft-b">
    <div class="wrap">
      <div class="ft-br">
        <span class="ft-copy">© 2026 ITK Shop</span>

        <div class="ft-pay">
          <span>Наличные</span>
          <span>MasterCard</span>
          <span>VISA</span>
          <span>Сбер</span>
          <span>Мир</span>
          <span>СБП</span>
        </div>

        <div class="ft-lg">
          <a href="#">Конфиденциальность</a>
          <a href="#">Оферта</a>
        </div>
      </div>
    </div>
  </div>

</footer>
