---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/ui/Header/Header.astro';
import Footer from '@/components/ui/Footer/Footer.astro';
import CartPage from '@/components/CartPage/CartPage';
---

<Layout title="Корзина — ITK SHOP" description="Ваша корзина товаров">
  <Header />
  <main class="wrap">

    <nav class="breadcrumb">
      <a href="/">Главная</a>
      <span>/</span>
      <span>Корзина</span>
    </nav>

    <CartPage client:load />

  </main>
  <Footer />
</Layout>
