---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/ui/Header/Header.astro';
import Footer from '@/components/ui/Footer/Footer.astro';
import ComparePage from '@/components/ComparePage/ComparePage';
---

<Layout title="Сравнение товаров — ITK SHOP" description="Сравнение характеристик товаров">
  <Header />
  <main class="wrap">

    <nav class="breadcrumb">
      <a href="/">Главная</a>
      <span>/</span>
      <span>Сравнение товаров</span>
    </nav>

    <ComparePage client:load />

  </main>
  <Footer />
</Layout>
