---
import Cart from "./Cart";
import Header from "./ui/Header/Header.astro";
---
<div id="container">
    <Header/>
    <main>
        <section id="hero">
            <h2>Hello kitty</h2>
            <Cart client:load />
        </section>
    </main>

</div>

